<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.graphdomainbackend.mapper.UserSigninRecordMapper">

    <resultMap id="BaseResultMap" type="com.xin.graphdomainbackend.model.entity.UserSigninRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="signDate" column="signDate" jdbcType="DATE"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,signDate,
        points,createTime
    </sql>
</mapper>
